<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<nav class="navbar navbar-inverse navbar-static-top" style="height: 100px;">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
				
                <img alt="Marcus Ribeiro SOFTWARE" height="95px" th:width="152px" 
                	th:src="@{/images/signature-MR-SOFTWARE-branco.png}" />				

            </a>
        </div>
    </div>
</nav>
    
</html>
